<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Practica</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <h2>Estados</h2>
        <a th:href="@{/nuevoEstado}">Nuevo Estado</a>
        <br/>
        <div th:if="${estados != null and !estados.empty}">
        <table border="1">
            <thead>
            <th>Estado</th>
            <th>Capital</th>
            <th>Poblacion</th>
            <th>Costas</th>
            <th> colspan="2">Acciones</th>
            </thead>
            <tbody>
                <tr th:each="estado : ${estados}">
                    <td th:text="${estado.estado}"></td> 
                    <td th:text="${estado.capital}"></td> 
                    <td th:text="${estado.poblacion}"></td> 
                    <td th:text="${estado.costas}"></td> 
                    <td> <a th:href="@/ModificarEstado/} + ${estado.idEstado}">Modificar</a></td>
                    <td> <a th:href="@/eliminarEstado/} + ${estado.idEstado}">Eliminar</a></td>
                </tr>
            </tbody>
        </table>
        </div>
        <div th:if="${estados == null or estados.empty}">
            La lista de estados esta vacia...
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>