<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Practica</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <!--        <p>Nombre:<span th:text="${estado.estado}"></span></p>
                <p>Capital:<span th:text="${estado.capital}"></span></p>
                <p>Poblacion:<span th:text="${estado.poblacion}"></span></p>
                <p>Costas:<span th:text="${estado.costas}"></span></p>-->
        <h1>clientes</h1>
        <table border="1">
            <thead>
            <th>Estado</th>
            <th>Capital</th>
            <th>Poblacion</th>
            <th>Costas</th>
            </thead>
        </table>
    </body>
</html>